html{
    background-image: url('imagens/backGround\ arvore.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -1;
}

#cabecalho{
    position: relative;
    right: 20%;
}



body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

img{
    position: relative;
    padding: 20px;
    margin: 0 auto 15px auto; /* add some margin to the top and bottom of the logo */
    width: 600px;
    height: 200px;
    margin-top: -40px;
}

nav{
    padding-right: 50px;
    margin-top: -70px;
    
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li{
    margin: 15px 0;  /*added margin to create space between li elements*/
    width: 200px;
    background-color: #8fa801; /* change the background color to a more colorful and green color */
    border-radius: 10px; 
}

nav ul li a{
    color: rgb(230, 230, 230);
    text-decoration: none;
    height: 25px;
    padding: 5px 10px;
    display: flex;
    align-items: center; /* center the text vertically */
    justify-content: center;
    /* font-size: 18px; */
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #6d7407; /* change the background color to a more colorful and green color */
    border-radius: 10px;
    border-left: 2px solid rgb(230, 230, 230);    
    border-bottom: 2px solid rgb(230, 230, 230);    
}

.fonte {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}