@font-face {
    font-family: "Chicle-Regular";
    src: url(Fontes/Chicle-Regular.ttf);
}
@font-face {
    font-family: "Poetsen-one";
    src: url(Fontes/PoetsenOne-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(Fontes/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "ChelseaMarket";
    src: url(Fontes/ChelseaMarket-Regular.ttf);
}

body {
    margin: 20px;
    background-color: #97a062;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    font-size: 2rem;
}

#titulo{
    background-image: url(imgInstrucoes/woodBoard.jpg);
}

.botaoVoltar {
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
    background-color: #b4c74b;
}

.botaoVoltar a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    height: 25px;
    padding: 5px 10px;
    font-size: 40px;
    line-height: 2.5rem;
}

.botaoVoltar a:hover{
    color: rgb(172, 172, 172);
    text-decoration: none;
    height: 25px;
    padding: 5px 10px;
    font-size: 40px;
    line-height: 2.5rem;
}


.container {
    font-family: "ChelseaMarket";
    max-width: 800px;
    margin: 0 auto;
    /* border: 5px solid rgb(97, 138, 97);
    background-color: rgb(126, 168, 94);
    border-radius: 10px; */
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: rgba(102, 154, 25, 0.667);
    border-radius: 10px;
}
p {
    line-height: 1.6;
}

.sintomas > div {
    display: flex;
    align-items: center;
    gap: 75px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 70px;
    padding: 20px;
}
  
  .sintomas > div img {
    float: left;
    width: 40%;
    border: 2px solid rgb(206, 206, 206);
    outline: 3px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
  
  .sintomas > div p {
    text-align: justify;
    width: 50%;
    background-color: #8fa801a1;
    border-left: 5px solid rgb(121, 212, 17);
    padding: 50px 20px;
    border-radius: 10px;
}

.aviso{
    font-size: 1.1rem;
}

.obs{
    font-family: "Inter";
    padding: 20px;
    background-color: rgb(238, 202, 123);
    border-left: 5px solid #df8460;
    margin: 20px;
    font-size: 1.1rem;
    width: 90%;
    border-radius: 10px;
    text-align: center;
}