.botaoVoltar {
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
    background-color: #b4c74b;
}

.botaoVoltar a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    height: 20px;
    padding: 5px 10px;
    font-size: 30px;
    line-height: 2.5rem;
}

.botaoVoltar a:hover{
    color: rgb(172, 172, 172);
    text-decoration: none;
    height: 20px;
    padding: 5px 10px;
    font-size: 30px;
    line-height: 2.5rem;
}

#perguntas div{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.815);
    border-left: 2px solid rgb(31, 29, 29);    
    border-bottom: 2px solid rgb(31, 29, 29);    
}

#perguntas div label{
    border-radius: 10px;
    padding: 10px 0px;
    margin: 10px;
}

#imagem{
    position: relative;
    padding-top: 20px;
    padding-left: 100px;
    width: 35%;
    height: 480px;
}

dialog{
    border-radius: 15px;
    position: relative;
    width: 70%;
    height: 40%;
    font-size: 25px;
    color: white;
    text-shadow: 1px black;
    background-color: #ad5618;
    border-color: bisque;
}

dialog p{
    margin-left: 100px;  
}


#castorVitoria{
    float: left;
    border: 2px solid rgb(206, 206, 206);
    outline: 3px solid black;
    border-radius: 50%;
    height: 225px;
    width: 225px;
}

#botao-fechar{
    position: absolute;
    top: 7%;
    left: 95%;
    color: rgb(25, 94, 25);
    font-size: 20px;
    background-color: rgb(52, 197, 113);
}

#mascoteFalas{
    position: absolute;
    right: 30%;
    top: 5%;
}

#perguntas{
    position: absolute;
    right: 20%;
    top: 45%;
}

#mascote{
    width: 200px;
    height: 200px;
}

#bloco-11,#bloco-12,#bloco-13,#bloco-14,#bloco-15{
    font-size: 20px;
    width: auto;
    padding: 8px;
    margin-bottom: 4px;
}

#enviar{
    margin-top: 12px;
    margin-left: 60px;
    width:150px;
    height: 40px;
    border-radius: 5px;
    background-color: #ccf1d4;
}

#falaCastor {
    position: absolute;
    top: 50px;
    left: 200px;
    padding: 20px;
    border: 2px solid #8b4513;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    background-color: #ccf1d4;
    box-sizing: border-box;
}

#falaCastor::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -20px;
    border-top: 10px solid transparent;
    border-right: 10px solid #3c3c3c;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}

#falaCastor::after {
    content: "";
    position: absolute;
    top: 20px;
    left: -15px;
    border-top: 8px solid transparent;
    border-right: 8px solid #3c3c3c;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}

#falaCastor::before {
    border-right-color: #8b4513;
}

#falaCastor::after {
    border-right-color: #8b4513; /* Move the arrow 10 pixels to the left */
    border-left-color: transparent; /* Make the left border transparent */
    border-right-color: #ccf1d4; /* Change the right border color to dark green */
}